name: Create Repo Request

on:
  issues:
    types: labeled


jobs:
  create-repo:
    if: github.event.label.name == 'approved'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Write template instead of checking out whole repo
        uses: DamianReeves/write-file-action@v1.0
        with:
          path: ./new_plugin.yml
          write-mode: overwrite
          contents: |
            body:
              - type: textarea
                id: description
                attributes:
                  label: Plugin description
              - type: input
                id: publisherId
                attributes:
                  label: Desired publisher Id
              - type: input
                id: pluginName
                attributes:
                  label: Your plugin name
              - type: checkboxes
                id: terms
                attributes:
                  label: Terms and conditions
      - uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: ./new_plugin.yml
      - run: |
          if [ -z "${{ steps.issue-parser.outputs.issueparser_publisherId }}" ]
          then
            echo "Requires publisheriD"
          fi
          if [ -z "${{ steps.issue-parser.outputs.issueparser_pluginName }}" ]
          then
            echo "Requires plugin name"
          fi
      - uses: actions/github-script@v6
        with:
          github-token: secrets.REPOS_PAT
          script: |
            await github.rest.repos.createUsingTemplate({
              template_owner: "solar2d",
              template_repo: "plugin-template",
              name: "${{ steps.issue-parser.outputs.issueparser_publisherId }}-${{ steps.issue-parser.outputs.issueparser_pluginName }}",
              owner: "solar2d"
            });

            await github.request('PUT /repos/solar2d/${{ steps.issue-parser.outputs.issueparser_publisherId }}-${{ steps.issue-parser.outputs.issueparser_pluginName }}/collaborators/${{ github.event.issue.user.login }}', {
              owner: 'solar2d',
              repo: '${{ steps.issue-parser.outputs.issueparser_publisherId }}-${{ steps.issue-parser.outputs.issueparser_pluginName }}',
              username: '${{ github.event.issue.user.login }}',
              permission: 'triage'
            })


      - name: Close Issue
        uses: peter-evans/close-issue@v2
        with:
          issue-number: ${{ github.event.issue.number }}
          comment: |
            Done!
            
            Created repo https://github.com/solar2d/${{ steps.issue-parser.outputs.issueparser_publisherId }}-${{ steps.issue-parser.outputs.issueparser_pluginName }}

